@font-face {
    font-family: 'visby-cf light';
    font-weight: 200;
    src: url("fonts/Demo_Fonts/Fontspring-DEMO-visbycf-light.otf") format("opentype");
}
@font-face {
    font-family: 'visby-cf regular';
    font-weight: 400;
    src: url("fonts/Demo_Fonts/Fontspring-DEMO-visbycf-regular.otf") format("opentype");
}
@font-face {
    font-family: 'visby-cf bold';
    font-weight: 800;
    src: url("fonts/Demo_Fonts/Fontspring-DEMO-visbycf-bold.otf") format("opentype");
}
