/*Styles in descending order*/

.main-container {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.navbar {
  background: rgba(255, 255, 255, 0.96);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.146);
backdrop-filter: blur(13.9px);
-webkit-backdrop-filter: blur(13.9px);

}
h1,
h2,
h3,
.btn,
.nav-link {
  font-family: "Outfit", sans-serif;
  font-weight: 800 !important;
}
.nav-link:hover {
transform: translateY(-6px);
transform: scale(1.07);
transition-duration: 1s ease;
transition-property: all;
color:#6c0be1 !important;

}
.nav-link:not(hover) {
  transform: translateY(2px);
  transform: scale(1);
  transition-duration: 0.6s ease;
  transition-property: all;
  color:#000000 !important;
  margin-left: 15px;
  margin-right: 15px;
  }

h1 {
font-size: 6vw !important;
}
.hOne {
  font-weight: 700 !important;
  font-size: 6vw !important;
  background: linear-gradient(-90deg, #7b11fc, #6c0be1, #a058ff, #6c0be1); 
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-weight: 300 !important;
}
h3 {
    
  color: rgb(45, 45, 45) !important;
  font-size: 6vw !important;
  /* text-decoration: underline #a058ff; */
}
h5 {
  font-size: 4vw !important;
  font-weight: 800;
}
p {
  font-size: large;
}

.welcome-section {
/* 
  background-color: #ffffff;
  background: linear-gradient(to bottom, #5b11fc13, white),
    url(); */
}
.btn {
  box-shadow: 2px 2px 2px rgba(136, 136, 136, 0.281);
  top: 0;
  position: relative;
  transition: top ease 0.3s;
  color: #7b11fc !important;
  background-color: #7b11fc00 !important;
  border: solid 3px #7b11fc !important;
}

.btn:not(hover) {
  top: 0px;
  transition: top ease 0.4s;
}
.project-row {
  margin: 50px;
}

.cta-btn:hover {
  box-shadow: 9px 5px 5px rgba(136, 136, 136, 0.281);
  transform: scale(1.03);
  background-color: #7b11fc!important;
  color: white !important;
  transition-duration: 0.2s ease;
  transition-property: all;
}
.cta-btn:active {
  box-shadow: 9px 5px 5px rgba(136, 136, 136, 0.281);
  transform: scale(0.8);
  background-color: #9036ff!important;
  color: white !important;
  transition-duration: 0.05s ease;
  transition-property: all;
}
.cta-btn:not(hover) {
  transform: translateY(2px);
  transform: scale(1);
  transition-duration: 0.2s ease;
  transition-property: all;
  color:#7b11fc !important;
  margin-left: 15px;
  margin-right: 15px;
}
.social-landing {
  box-shadow: 4px 4px 5px rgba(136, 136, 136, 0.281);
  top: 0;
  position: relative;
  transition: top ease 0.3s;
  background-color: #fca21100 !important;
  text-align: center;
  width:60px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  color: #6c0be1 !important;
  border: solid #6c0be1 3px;
}
.social-landing:hover {
  box-shadow: 9px 5px 5px rgba(136, 136, 136, 0.281);
    transform: scale(1.07);
  color: white !important;
  background-color:  #7c26e5 !important;
  transition-duration: 0.2s ease;
  transition-property: all;
  border-radius: 22px;
}
.social-landing:active {
  box-shadow: 9px 5px 5px rgba(136, 136, 136, 0.281);
  transform: translateY(-6px);
  transform: scale(0.8);
  background-color: #ffce80 !important;
  transition-duration: 0.1s;
  transition-property: all;
  border-radius: 22px;
}
.social-landing:not(hover) {
  transform: translateY(2px);
  transform: scale(1);
  transition-duration: 0.2s ease;
  transition-property: all;
  color:#6c0be1 !important;
  margin-left: 15px;
  margin-right: 15px;
}
.socials-div {

}
i {
  justify-content: center;
  
}
a {
  text-decoration: none !important;
}

.about-section {
  scroll-margin-top: 5vh;
  min-height: 100vh;
  scroll-margin-top: 55px !important ;

}

.skill-item {
  background-color: rgb(216, 216, 216);
  margin: 5px;
}
.skill-text {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  color: rgb(99, 99, 99);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: auto;
}
.project-row {
  background-color: #ffffff;
}

.projects {
  /*use this as a header buffer so the navbar doesnt cut out on navigation */
  scroll-margin-top: 55px !important;
}
.welcome-section {
  padding-top: 10vh;
  height: 90vh;
    scroll-margin-top: 5vh;

}
.contact-container {
  background-color: #fca311;
  justify-content: center;
  align-items: center;
}
input,
.input {
  width: 80%;
}
textarea {
  resize: none !important;
}
.submitbtn {
  background-color: rgb(255, 219, 154) !important;
  margin: 10px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;

}
.contact-container {
  height: 60vh;
  
}
@media screen and (max-width: 1526px) {
    .contact-container {
      height: 50vh;
      }
}
@media screen and (max-width: 991.5px) {
  .welcome-section {
    padding-top: 1vh;
    height: 100vh;
  }
  .mousediv {
    height: 0px !important;
    overflow: hidden;
  }
}
.mousediv {
  margin-top: 10vh !important;
}
.footer-section {
  height: 20vh;
  background-color: #14213d;
}
.github {
  color: white;
  font-size: xx-large;
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.github:hover {
  transform: translateY(-1px);
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}
.github:not(hover) {
  transform: translateY(1px);
  transition-delay: 0.2s;
  transition-duration: 0.4s;
}

.footer-text {
  color: white !important;
}
a {
  color: rgb(0, 0, 0) !important;
}
.arrow {
  animation: Arrow 1s linear infinite;
  left: 0;
  right: 0;
  color: white !important;
}
@keyframes Arrow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}
.project-text {
font-size: large;
}

/*NIGHT MODE STYLING*/
.btn-moon {
  animation: Arrow 8s both infinite;
  background-color: #ff9500 !important;
}
.fa-moon-o {
  color: white !important;
  font-weight: 900;
}
.cv-btn {
  animation: Arrow 20s linear infinite;
  background-color: rgb(159, 194, 237) !important
  ;
}
.img-thumbnail {
  width: 50vw !important;
  border: solid 3px #6c0be1 !important;
  box-shadow: 4px 9px 9px #0000002d;
}
/* arrow animation */
